.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  color: white;
}

.nav__links {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
